// Цвета
$primary-color: #5d5fef;
$secondary-color: #ef5da8;
$background-color: #f4f5f9;
$text-color: #42567a;
$circle-color: rgba(66, 86, 122, 0.2);
$circle-active-color: rgba(66, 86, 122, 0.15);

// Шрифты
$font-family: "PT Sans", sans-serif;
$heading-font-size: 56px;
$subheading-font-size: 20px;
$year-font-size: 200px;
$event-year-font-size: 25px;
$event-desc-font-size: 20px;

// Размеры
$circle-center-position: 480px;
$circle-size: 530px;
$dot-color: rgba(48, 62, 88, 0.5);
$dot-size: 8px;
$active-dot-size: 12px;
$border-width: 1px;

// Адаптивность
